<form action="/store" method="post">
  <label for="name">Name:</label><br>
  <input label="name" name="name" type="text"><br>
  <label for="description">Description:</label><br>
  <input label="description" name="description" type="text"><br>
  <label for="prep_time">Prep_time:</label><br>
  <input label="prep_time" name='prep_time' type="text"><br>
  <label for="rating">Rating:</label><br>
  <input label="rating" name="rating" type="text"><br>
  <input type="submit">
</form>
