<form action="/showwebsite" method="post">
  <label for="name">What ingredient are you looking for?</label><br>
  <input label="name" name="ingredient" type="text"><br>
  <input type="submit">
</form>
